.first-slider{
    background-image: url(Images/background_cgv.jpg);
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
}

span.glyphicon.glyphicon-chevron-right {
    margin-top: 77px;
}