.first-slider{
    background-image: url(Images/background_lotte.jpg);
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
}

span.glyphicon.glyphicon-chevron-right {
    margin-top: 77px;
}

.sub-first-slider .left{
    margin-right: -175px;
}